<article class="restaurant">
    <div class="title">
       <a href="/restaurant/{{id}}">{{restaurant.name}}</a>
    </div>
    <div class="body">
        {{restaurant.location}}
    </div>
</article>