<div class="card">
  <h2 class="card-header">Edit Post</h2>
  <form class="card-body" id="edit-post-form">
      <div>
      <label class="form-label">Name:</label>
      <input class="form-input" type="text" name="restaurant-name" id="restaurant-name" value="{{restaurant.name}}"/>
    </div>
    
    <div>
      <label class="form-label">Location:</label>
      <input class="form-input" name="restaurant-location" id="restaurant-location" value="{{restaurant.location}}">
    </div>
 
    <button class="new-btn" type="submit">EDIT</button>
    <input type="hidden" name="restaurant-id" id="restaurant-id" value="{{restaurant.id}}"/>
  </form>
  <br>
  <div class="card-body">
   <button class="new-btn" type="click" id="delete-btn">DELETE</button>
  </div> 
</div>
<script src="/js/edit.js"></script>