<div class="card">

  <h2 class="card-header">LOGIN</h2>

  <form class="card-body login-form">

    <div class="form-group">
      <label class="form-label">Username:</label>
      <input class="form-input" type="text" id="username-input-login" />
    </div>

    <div class="form-group">
      <label class="form-label">Password:</label>
      <input class="form-input" type="password" id="password-input-login" />
    </div>

    <div class="form-group">
      <button class="btn" type="submit">LOGIN</button>
    </div>
  </form>
  <div class="connector">OR</div>
  <button class="btn btn-create mt-3"><a href="/signup">Create new account</a></button>
</div>
<script src="/js/login.js"></script>