<!-- Loop over each user object -->

{{#each restaurants as |restaurant| }}
  <!-- Render user-specific data with Handlebars.js expressions -->

  <div class="row">
    <div class="col s4">
      <div class="card light-blue accent-1">
        <div class="card-content black-text">
          <span class="card-title">{{restaurant.name}}</span>
          <p>Location: {{restaurant.location}}</p>
        </div>
        <div class="card-action black-text">
          <a class="light-blue-text text-darken-4" href="#">Been There</a>
          <a class="light-blue-text text-darken-4" href="#">Comment</a>
        </div>
      </div>
    </div>
  </div>

{{/each}}