<div class="card container">
  <h2 class="card-header">Add New Restaurant</h2>
  <form class="card-body" id="new-restaurant-form" method="POST" action="/my-restaurants" enctype="multipart/form-data">
  
    {{!-- <input type="hidden" name="restaurant-id" value="{{restaurant.id}}"/> --}}
    <div>
      <label class="form-label">Restaurant Name:</label>
      <input class="form-input" id="restaurant-name" type="text" name="name"/>
    </div>
    <div>
      <label class="form-label">Location:</label>
      <input class="form-input" id="restaurant-location" type="text" name="location"></input>
    </div>

    <div>
      <input type="file" name="image" id="image">
      {{!-- <input type="submit"> --}}
    </div>
 
    {{!-- <button class="btn btn-primary" type="submit" id="add-image">ADD IMAGE</button>  --}}
    <input class="new-btn btn-primary" type="submit" id="no-image"> 
  </form>
</div>
<script src="/js/new.js"></script>

{{!-- <form id="image-uploader" method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="image" id="image">
    <input type="submit">
    </form> --}}