:root {
    --primary-color: #A3E2D6;
    --secondary-color: #3C4442;
    --highlight-color: #e84987;
    --background-color: white;
    --theme-font: ‘Gill Sans’, ‘Gill Sans MT’, Calibri, ‘Trebuchet MS’, sans-serif;
}

.custom-nav,
.custom-card {
    background-color: var(--primary-color);
}

.nav-font {
    font-family: 'Candal', sans-serif;
}

.logo-font {
    font-family: 'Candal', sans-serif;
    color: var(--secondary-color);
    font-size: 32px;
    
}


.custom-text {
    color: var(--secondary-color);
}

.been-there-text {
    color: var(--highlight-color);
}

.new-card a:active,
.new-card a:visited,
.new-card a:link {
    color: white;
    text-decoration: none;
}

.form-input {
    width: 100%;
    padding: 1%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

.new-card {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    margin-bottom: 16px;
}

.new-card-image {
    max-height: 60%;
    overflow: hidden;
}

.new-card-content {
    padding: 15px;
    border-radius: 0 0 2px 2px;
    display: block;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 8px;
}

.new-card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    position: relative;
    padding: 10px 24px;
}

.new-card-title {
    font-size: 30px;
    font-weight: 500;
    color: var(--secondary-color);
}

.custom-image{
    height: 200px;
    margin: 20px;
}

.restaurant-card {
    height: 500px
}

.restaurant-button{
    margin: 2%
}

.new-btn, .new-btn:hover, .new-btn:active {
    border:0px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}





